<h1>Editing Book</h1>
<div class="edit_book">
<%= form_for(@book) do |f| %>
	<div class="edit-book-title">
		<label>Title</label><br>
		<%= f.text_field :title %>
	</div>
	<div class="edit-book-body">
		<label>Body</label><br>
		<%= f.text_area :body %>
	</div>
	<div class="edit-book-create">
		<%= f.submit 'update Book' %>
	</div>
<% end %>
</div>

<div class="edit-book-link">
<p>
<%= link_to "Show", books_path(@book.id) %>
|
<%= link_to "Back", books_path %>
</p>
</div>
